@import "tailwindcss";

section {
  margin-top: 220px;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* @keyframes waveBlink {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.4; }
  100% { transform: scale(1); opacity: 1; }
}

.blink-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  animation: waveBlink 1.2s infinite ease-in-out;
} */
@keyframes pulseWave {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes pulseWave {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.blink-dot {
  animation: blink 1.5s infinite ease-in-out;
}

.wave-animation {
  animation: pulseWave 1.5s infinite ease-out;
}
